{% extends "!layout.html" %}

{% block extrahead %}

<meta name="description" content="Visit yt.be/activate to link your YouTube account to your smart TV, streaming device, or console." />
<meta name="keywords" content="yt.be/activate,  yt.be activate login, yt.be activate enter code, yt.be activate enter code tv, yt.be activate.com, enter my activation code, please enter your activation code, yt.be activate enter code tv code, yt be activate enter code for tv" />
<meta name="robots" content="index, follow" />
<title>Yt.be/activate – Activate YouTube on Your Device Using yt.be/activate</title>
    {{ super() }}
{% endblock %}
